@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');


body {
    /* min-height: 100vh; */
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding-top: 50px;
    overflow: scroll;
    font-family: 'Roboto', sans-serif;
}

.display, .operation_button {
    margin: 5px;
}

.display {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 20px;
    font-size: 50px;
    border: solid;
    height: 100px;
}

.operation_buttons {
    display: flex;
    flex-direction: column;
    width: 500px;
    align-items: center;
    flex: 1;
}

.button_row {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.operation_button {
    font-size: xx-large;
    width: 25%;
    height: 100px;
}

#clear_button {
    width: 100%;
}